<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Bank</title>
</head>
<body>

<h1>Reseptipankki</h1>
<a href="/add">Lisää resepti</a>

<h2>Reseptit</h2>

<table border="1">
    <tr>
        <th>Otsikko</th>
        <th>Kuvaus</th>
        <th>Luotu</th>
    </tr>

    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.title}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.createdAt}"></td>
    </tr>
</table>

</body>
</html>
